spring:
  datasource:
    url: jdbc:mysql://localhost:3306/oms_dev?characterEncoding=utf-8&useSSL=false
    username: root
    password: root
    driver-class-name: com.mysql.jdbc.Driver
  data:
    redis:
      database: 3
      host: 192.168.100.10
      password: 123456
server:
  port: 8888
mybatis-plus:
  mapper-locations: com.oms.api.mapper/*.xml
  type-aliases-package: com.oms.api.mapper
  configuration:
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
#jwt
jwt:
  header: Authorization
  # 令牌前缀
  token-start-with: Bearer
  # 使用Base64对该令牌进行编码
  base64-secret: d29zaGl5aWdlc2h1YWlnZW5pemhlbmRlemhpZGFvbWVnb29keWVzbm9pdGhpbmt0aGlzaXNAQEAmJiYmISEhISEhIQ==
  # 令牌过期时间 此处单位/毫秒
  token-validity-in-seconds: 86400000
