spring:
  datasource:
    url: jdbc:mysql://localhost:3306/oms_dev?characterEncoding=utf-8&useSSL=false
    username: root
    password: root
    driver-class-name: com.mysql.jdbc.Driver
server:
  port: 8888
mybatis-plus:
  mapper-locations: com.oms.api.mapper/*.xml
  type-aliases-package: com.oms.api.mapper
#jwt
jwt:
  header: Authorization
  # 令牌前缀
  token-start-with: Bearer
  # 使用Base64对该令牌进行编码
  base64-secret: Nzc3QCMxMiExMjN+JTEyMzQ1NjAwMCMjMTExMjM0NTExMQ==
  # 令牌过期时间 此处单位/毫秒
  token-validity-in-seconds: 14400000
